.input {
  display: flex;
}

.input input, .inputFullBoarded input {
  background-color: var(--light-color);
  border: none;
  padding: 0.7rem;
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.inputFullBoarded input {
  border-radius: 5px;
}

.input button {
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 0.7rem;
  background-color: var(--primary-color);
  color: var(--dark-gray-color);
}

.input button:hover {
  background-color: var(--dark-primary-color);
}

.input button:active {
  background-color: var(--primary-color);
}
