@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root {
  --primary-color: #45E4B4;
  --dark-primary-color: #3CC69C;
  --dark-color: #141515;
  --dark-gray-color: #1F2020;
  --gray-color: #ACB0B0;
  --light-color: #F5F5F5;
}

body, input, button {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

button, .pointer {
  cursor: pointer;
}

body {
  background-color: var(--dark-gray-color);
  color: var(--light-color);
}

* {
  outline-color: var(--primary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin-top: 20px;

  padding-left: 2%;
  padding-right: 2%;
}

@media (max-width: 475px) {
  .container {
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
}

@media (max-width: 368px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1440px) and (min-width: 368px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 31px;
  }
}
